<template>
  <div class="row">
    <div class="col-md-10 col-12 q-pl-sm no-pl-mobile">
      <h2 class="text-h5 text-uppercase text-white title text-center-mobile">¡SUSCRÍBETE A <br> NUESTRO NEWSLETTER!</h2>
      <p class="text-white subtitle-newsletter text-center-mobile">Recibirá todas las novedades de esta categoría cada mes</p>
    </div>
    <div class="col-md-2 col-12">
      <center>
        <q-img class="float-right center-on-mobile" src="images/logoalone.png" width="130px" />
      </center>
    </div>
    <div class="col-12">
      <field />
    </div>
  </div>
</template>

<script>
import field from './newsLetterField'

export default {
  // name: 'ComponentName',
  components: {
    field
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
