<template>
  <q-form @submit="suscribe">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 q-pl-sm mt-mobile-lg q-pr-md no-padding-mobile" filled round>
        <q-input :rules="[val => !!val || 'Ingresa el correo electrónico', val => val.includes('@') || 'El correo debe poseer @', val => val.includes('.') || 'El correo ingresado debe terminar en .com, .org, etc']" type="email" bg-color="white" rounded outlined dense v-model="suscription.email" placeholder="Correo electrónico" />
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 q-pl-sm mt-mobile-lg q-pr-md no-padding-mobile" filled round>
        <q-input type="number" bg-color="white" rounded outlined dense v-model="suscription.phone" placeholder="Teléfono celular" />
      </div>
      <div class="col-md-3 col-sm-12 q-pb-lg col-12 q-pl-sm mt-mobile-lg q-mt-md q-pr-md no-padding-mobile">
        <q-btn :loading="loading" outline rounded :disabled="!suscription.phone || !suscription.email" label="Suscribirse" type="submit" color="primary" class="full-width title" />
      </div>
    </div>
  </q-form>
</template>

<script>
import { suscribeNewsLetter } from 'src/api/newsLetter'

export default {
  // name: 'ComponentName',
  props: {
  },
  data () {
    return {
      suscription: {},
      loading: false
    }
  },
  methods: {
    suscribe () {
      this.loading = true
      return suscribeNewsLetter(this.suscription, (response) => {
        this.loading = false
        this.suscription = {}
        this.$notify('positive', response.data.success, 'green-9')
      }, (err) => {
        this.loading = false
        this.$notify('negative', err.message, 'red-9')
      })
    }
  }
}
</script>
