<template>
  <div class="row">
    <div class="col-12">
      <headerService :title="$t('services')" :breadCrumb="$t('services')" />
    </div>
    <div class="col-12">
      <bannerService :title="'lo que <br> ofrecemos'" :description="descriptionBanner" :img="imgBanner" :showButton="false" />
    </div>
    <div class="col-12 q-mt-xl">
      <div class="row full-width">
        <serviceList v-for="(service, idx) in servicesLists" :key="idx" :color="service.color" :icon="service.img" :title="service.title" :description="service.description" />
      </div>
    </div>
    <div class="col-12">
      <newsLetter />
    </div>
  </div>
</template>

<script>
import headerService from 'src/components/layout/headerPages'
import bannerService from 'src/components/layout/banner'
import serviceList from './components/serviceList'
import newsLetter from 'src/components/layout/newsLetter'

import { services } from 'src/utils/services.json'

export default {
  // name: 'ComponentName',
  components: {
    headerService,
    bannerService,
    serviceList,
    newsLetter
  },
  data () {
    return {
      descriptionBanner: 'Somos expertos en odontología estética, contamos con profesionales responsables y especializados para darte los mejores resultados. Somos expertos en odontología estética, contamos con profesionales.',
      imgBanner: 'banner-2-services.png',
      servicesLists: services
    }
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
