<template>
  <q-form @submit="login" @reset="user = {}" class="row full-width">
    <q-input v-model="user.name" filled label="Usuario" class=" col-12">
      <template v-slot:append>
        <q-icon name="person" color="primary" />
      </template>
    </q-input>
    <q-input v-model="user.password" type="password" filled label="Contraseña" class="q-mt-md col-12">
      <template v-slot:append>
        <q-icon name="lock" color="primary" />
      </template>
    </q-input>
    <q-btn :loading="loading" type="submit" color="primary" size="17px" label="Entrar" class="full-width col-12 q-mt-md q-ma-sm" />
    <q-btn type="reset" color="secondary" size="17px" label="limpiar" class="full-width col-12 q-mt-md q-ma-sm" />
  </q-form>
</template>

<script>
export default {
  // name: 'ComponentName',
  computed: {
    token () {
      return this.$store.getters['auth/token']
    }
  },
  data () {
    return {
      user: {},
      loading: false
    }
  },
  methods: {
    login () {
      this.loading = true
      this.$store.dispatch('auth/loginUser', this.user)
        .then((resp) => {
          this.loading = false
          this.$push('/dashboard/main')
        })
        .catch((err) => {
          this.loading = false
          this.$notify('negative', err.message, 'red-9')
        })
    }
  },
  beforeMount () {
  }
}
</script>
