<template>
  <q-card-section class="bg-primary text-white q-pa-md">
    <div class="col-12">
      <center><q-img src="images/logo-blanco-dp.png" width="100px" /></center>
    </div>
  </q-card-section>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {}
  }
}
</script>
