<template>
  <div class="col-md-3 col-sm-6 col-xs-12 q-pa-lg" :class="color">
    <div class="row full-width">
      <div class="col-12 q-mt-md">
        <center>
          <q-icon color="white" size="70px" :name="icon" />
        </center>
      </div>
      <div class="col-12 q-mt-lg">
        <center>
          <span class="title text-h5 text-primary text-uppercase">{{title}}</span>
        </center>
      </div>
      <div class="col-12 q-mt-md q-mb-md">
        <center>
          <span class="title text-secondary">{{description}}</span>
        </center>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  props: {
    title: {
      type: String
    },
    description: {
      type: String
    },
    color: {
      type: String
    },
    icon: {
      type: String
    }
  },
  computed: {
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
