<template>
  <div class="row flex flex-center full-width full-height">
    <div class="col-xs-4 col-sm-10 col-md-4 flex flex-center">
      <div class="row full-width1">
        <div class="col-12 text-left banner-m-mobile-custom-banner text-left">
          <h1 :class="textH" class="text-uppercase text-primary title">Creamos <br>Sonrisas únicas</h1>
        </div>
        <div :class="fontH" class="col-12 text-left shadow2 text-secondar text-left font-10" style="margin-top: -15px">
          Porque todos somos diferentes, cada sonrisa que creamos la hacemos tan única como tú.
        </div>
        <div class="col-12 shadow.2 text-left text-secondary font-14 q-mt-lg">
          <q-btn to="/appoinment" rounded outline label="pide tu cita aquí" color="primary" size="15px" class="title text-left btn-banner" />
        </div>
      </div>
    </div>
    <div class="col-xs-8 col-md-4 bg-mobile">
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  computed: {
    textH () {
      return this.$q.screen.gt.lg
        ? 'text-h1'
        : 'text-h3'
    },
    fontH () {
      return this.$q.screen.gt.lg
        ? 'text-h4'
        : 'font-14'
    }
  },
  data () {
    return {}
  }
}
</script>
