<template>
  <q-page class="row">
    <div class="col-12 flex flex-center q-pa-sm">
      <login />
    </div>
    <addressLogin />
    <div class="col-12">
      <footerWeb />
    </div>
  </q-page>
</template>

<script>
import login from 'src/components/auth/login'
import addressLogin from 'src/components/index/address'
import footerWeb from 'src/components/layout/footer'

export default {
  // name: 'PageName',
  components: {
    login,
    addressLogin,
    footerWeb
  }
}
</script>
