<template>
  <q-list>
    <q-item clickable v-ripple @click="$push('/')">
      <q-item-section class="title text-white">INICIO</q-item-section>
      <q-item-section avatar>
        <q-icon color="white" name="home" />
      </q-item-section>
    </q-item>
    <q-separator />
    <q-item clickable v-ripple @click="$push('/dashboard/case-real')">
      <q-item-section class="title text-white">CASOS REALES</q-item-section>
      <q-item-section avatar>
        <q-icon color="white" name="group" />
      </q-item-section>
    </q-item>
    <q-separator />
    <q-item clickable v-ripple @click="$push('/dashboard/case-success')">
      <q-item-section class="title text-white">CASOS DE EXITO</q-item-section>
      <q-item-section avatar>
        <q-icon color="white" name="check_circle" />
      </q-item-section>
    </q-item>
    <q-separator />
    <q-item clickable v-ripple @click="$push('/dashboard/newsletter')">
      <q-item-section class="title text-white">NEWSLETTER</q-item-section>
      <q-item-section avatar>
        <q-icon color="white" name="article" />
      </q-item-section>
    </q-item>
    <q-separator />
    <q-item clickable v-ripple @click="logout" class="lt-md">
      <q-item-section class="title text-white">SALIR</q-item-section>
      <q-item-section avatar>
        <q-icon color="white" name="logout" />
      </q-item-section>
    </q-item>
    <q-separator class="lt-md" />
  </q-list>
</template>

<script>
export default {
  // name: 'ComponentName',
  computed: {
    admin () {
      return this.$store.getters['auth/user']
    },
    token () {
      return this.$store.getters['auth/token']
    }
  },
  data () {
    return {
    }
  },
  methods: {
    logout () {
      const token = {}
      token.token = this.token
      this.$store.dispatch('auth/logoutUser', token)
        .then((resp) => {
          this.$push('/')
        })
        .catch((err) => {
          this.loading = false
          this.$push('/')
          this.$notify('negative', err.message, 'red-9')
        })
    }
  },
  beforeMount () {
  }
}
</script>
