<template>
  <div class="row" :class="{ 'q-mt-lg': $route.path !== '/services' }">
    <div class="col-12 q-mb-lg">
      <div class="container">
        <span class="text-uppercase text-h3 text-primary title q-pl-md">
          NUESTROS SERVICIOS
        </span>
      </div>
    </div>
    <div class="col-md-3 col-xs-6 col-sm-6 bg-primary h-200">
      <div class="relative service-grid full-width">
        <div class="service-grid-icon q-mt-xl">
          <center>
            <q-icon color="white" size="100px" v-if="selectedService !== 1" name="img:images/005-teeth-1.png" />
            <q-icon color="white" size="100px" name="img:images/005-teeth-1@2x.png" v-if="selectedService === 1" />
          </center>
        </div>
        <div class="">
          <div class="row full-width cursor-pointer">
            <div class="col-12 q-mt-xl margin-mobile-new">
              <center>
                <span class="title text-h5 text-white">DISEÑO DE SONRISA</span>
              </center>
            </div>
            <div class="col-12 text-white text-center q-pl-lg q-pr-lg q-mb-xl">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ex sit amet felis auctor rutrum.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-6 col-sm-6 h-200">
      <div class="relative service-grid full-width">
        <div class="q-mt-xl service-grid-icon">
          <center>
            <q-icon color="white" size="100px" name="img:images/003-teeth.png" />
          </center>
        </div>
        <div class="">
          <div class="row full-width cursor-pointer">
            <div class="col-12 q-mt-xl margin-mobile-new">
              <center>
                <span class="title text-h5 text-primary">MINI DISEÑO</span>
              </center>
            </div>
            <div class="col-12 text-secondary text-center q-pl-lg q-pr-lg q-mb-xl">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ex sit amet felis auctor rutrum.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-6 col-sm-6 h-200">
      <div class="relative service-grid full-width">
        <div class="q-mt-xl service-grid-icon">
          <center>
            <q-icon color="white" size="100px" name="img:images/022-floss.png" />
          </center>
        </div>
        <div class="">
          <div class="row full-width cursor-pointer">
            <div class="col-12 q-mt-xl margin-mobile-new">
              <center>
                <span class="title text-h5 text-primary">FASE HÍGIENICA</span>
              </center>
            </div>
            <div class="col-12 text-secondary text-center q-pl-lg q-pr-lg q-mb-xl">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ex sit amet felis auctor rutrum.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 bg-grey col-xs-6 col-sm-6 h-200">
      <div class="relative service-grid full-width">
        <div class="q-mt-xl service-grid-icon">
          <center>
            <q-icon color="white" size="100px" name="img:images/035-forceps.png" />
          </center>
        </div>
        <div class="">
          <div class="row full-width cursor-pointer">
            <div class="col-12 q-mt-xl margin-mobile-new">
              <center>
                <span class="title text-h5 text-primary">CIRUGÍAS</span>
              </center>
            </div>
            <div class="col-12 text-secondary text-center q-pl-lg q-pr-lg q-mb-xl">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ex sit amet felis auctor rutrum.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-6 col-sm-6 bg-primary border-top-grey h-200">
      <div class="relative service-grid full-width">
        <div class="q-mt-xl service-grid-icon">
          <center>
            <q-icon style="width: 120px;" color="white" size="80px" name="img:images/dp_Icono-Ortodoncia.png" />
          </center>
        </div>
        <div class="">
          <div class="row full-width cursor-pointer">
            <div class="col-12 q-mt-xl margin-mobile-new">
              <center>
                <span class="title text-h5 text-white">ORTODONCIA</span>
              </center>
            </div>
            <div class="col-12 text-white text-center q-pl-lg q-pr-lg q-mb-xl">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ex sit amet felis auctor rutrum.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-6 col-sm-6 h-200">
      <div class="relative service-grid full-width">
        <div class="q-mt-xl service-grid-icon">
          <center>
            <q-icon color="white" size="100px" name="img:images/008-dental-veneer.png" />
          </center>
        </div>
        <div class="">
          <div class="row full-width cursor-pointer">
            <div class="col-12 q-mt-md q-pt-md margin-mobile-new">
              <center>
                <span class="title text-h5 text-primary">LENTES CERÁMICOS</span>
              </center>
            </div>
            <div class="col-12 text-secondary text-center q-pl-lg q-pr-lg q-mb-xl">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ex sit amet felis auctor rutrum.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-6 col-sm-6 h-200">
      <div class="relative service-grid full-width">
        <div class="q-mt-xl service-grid-icon">
          <center>
            <q-icon color="white" size="100px" name="img:images/040-tooth-7.png" />
          </center>
        </div>
        <div class="">
          <div class="row full-width cursor-pointer">
            <div class="col-12 q-mt-md q-pt-md margin-mobile-new">
              <center>
                <span class="title text-h5 text-primary">ACLARAMIENTO</span>
              </center>
            </div>
            <div class="col-12 text-secondary text-center q-pl-lg q-pr-lg q-mb-xl">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ex sit amet felis auctor rutrum.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-6 col-sm-6 bg-grey h-200 border-top-grey">
      <div class="relative service-grid full-width">
        <div class="q-mt-xl service-grid-icon">
          <center>
            <q-icon color="white" size="100px" name="img:images/024-toothbrush@2x.png" />
          </center>
        </div>
        <div class="">
          <div class="row full-width cursor-pointer">
            <div class="col-12 q-mt-md q-pt-md margin-mobile-new">
              <center>
                <span class="title text-h5 text-primary">LIMPIEZA</span>
              </center>
            </div>
            <div class="col-12 text-secondary text-center q-pl-lg q-pr-lg q-mb-xl">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ex sit amet felis auctor rutrum.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  components: {
  },
  data () {
    return {
      selectedService: 1
    }
  },
  methods: {
    setService (i) {
      this.selectedService = i
    }
  }
}
</script>
