<template>
  <q-table :data="data" :columns="columns" row-key="name">
    <template v-slot:body="props">
      <q-tr :props="props">
        <q-td key="id" :props="props">
          {{props.row.id}}
        </q-td>
        <q-td key="email" :props="props">
          {{props.row.email}}
        </q-td>
        <q-td key="phone" :props="props">
          {{props.row.phone}}
        </q-td>
        <q-td key="status" :props="props">
          <q-chip v-if="props.row.status === 1" square color="primary" size="10px" class="text-white">
            Activo
          </q-chip>
          <q-chip v-if="props.row.status === 0" square color="red-9" size="10px" class="text-white">
            Inactivo
          </q-chip>
        </q-td>
        <q-td key="option" :props="props">
          <q-btn-dropdown flat dense color="black" label="">
            <q-btn :loading="loading" flat densed @click="deleteNewsLetter(props.row.id)" icon="delete" color="secondary" class="" >
              <q-tooltip content-class="bg-red-9" :offset="[10, 10]">
                Eliminar newsletter
              </q-tooltip>
            </q-btn>
          </q-btn-dropdown>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<script>
import { getAllNewsLetter, deleteNewsLetter } from 'src/api/newsLetter'

export default {
  // name: 'ComponentName',
  components: {
  },
  data () {
    return {
      columns: [
        { name: 'id', required: true, label: 'ID', align: 'center', field: row => row.id, sortable: true, classes: 'ellipsis', style: 'width: 100px', headerClasses: 'bg-primary text-white' },
        { name: 'email', align: 'center', label: 'CORREO ELECTRÓNICO', field: 'email', sortable: false },
        { name: 'phone', align: 'center', label: 'TELÉFONO CELULAR', field: 'phone', sortable: false },
        { name: 'status', align: 'center', label: 'ESTADO', field: 'status', sortable: false },
        { name: 'option', align: 'center', label: 'VER', field: 'option', sortable: false }
      ],
      data: [],
      loading: false
    }
  },
  methods: {
    getNewsLetter () {
      return getAllNewsLetter((response) => {
        this.data = response.data.success
      }, (err) => {
        this.$notify('negative', err.message, 'red-9')
        console.log(err)
      })
    },
    deleteNewsLetter (id) {
      this.loading = true
      return deleteNewsLetter(id, (response) => {
        this.data = response.data.success
        this.loading = false
        this.$notify('negative', 'Se ha eliminado el newsletter correctamente.', 'red-9')
      }, (err) => {
        this.$notify('negative', err.message, 'red-9')
        this.loading = false
      })
    }
  },
  beforeMount () {
    this.getNewsLetter()
  }
}
</script>
