<template>
  <section class="footer-dian">
    <div class="container bg-red">
      <div class="row bg-white diana-footer">
        <div class="col-12 col-md-4">
          <center>
            <div class="row flex justify-center q-mt-md q-mb-lg">
              <div class="col-12">
                <q-img src="images/horizon.png" width=" 150px" />
              </div>
              <div class="col-12 font-12 q-mt-md text-secondary">
                Porque todos somos diferentes, cada sonrisa que creamos la hacemos tan única como tú.
              </div>
              <div class="col-12 font-12 q-mt-md text-primary">
                info@dianapulgarin.com
              </div>
              <div class="col-12 font-12 q-mt-sm text-primary">
                (+57)301271945
              </div>
              <div class="col-12 q-mt-md">
                <q-icon @click="openUrl('https://www.youtube.com/channel/UCmFFQqYvl8akrOAe9FpYGFA')" name="img:images/outube.png" color="primary" class="lt-md" style="height: 15px; width: 21px; padding-right: 12px" />
                <q-icon @click="openUrl('https://twitter.com/DraDianaPul')" name="img:images/twitter.png" color="primary" class="lt-md " style="height:16px; width: 20px; padding-right: 12px" />
                <q-icon @click="openUrl('https://es-la.facebook.com/pg/DraDianaPulgarin')" name="img:images/facebook.png" class="lt-md " color="primary" style="height:18px; width: 14px; padding-right: 12px" />
                <q-icon @click="openUrl('https://www.instagram.com/dradianapulgarin')" name="img:images/insta.png" class="lt-md " color="primary" style="height:18px; width: 18px; padding-right: 12px" />
              </div>
            </div>
          </center>
        </div>
        <div class="col-12 col-md-4 q-pl-xl q-pr-xl">
          <div class="row">
            <div class="col-12 text-left q-mt-sm">
              <span class="text-h6 text-uppercase text-primary title">
                Nuestros servicios
              </span>
            </div>
            <div class="col-12 text-left q-mt-sm">
              <span class="font-12 text-uppercase text-secondary">
                Diseño de sonrisa
              </span>
            </div>
            <div class="col-12 text-left q-mt-sm">
              <span class="font-12 text-uppercase text-secondary">
                Mini diseño
              </span>
            </div>
            <div class="col-12 text-left q-mt-sm">
              <span class="font-12 text-uppercase text-secondary">
                Fase Higiénica
              </span>
            </div>
            <div class="col-12 text-left q-mt-sm">
              <span class="font-12 text-uppercase text-secondary">
                Cirugías
              </span>
            </div>
            <div class="col-12 text-left q-mt-sm">
              <span class="font-12 text-uppercase text-secondary">
                Ortodoncia
              </span>
            </div>
            <div class="col-12">
              <span class="font-12 text-uppercase text-secondary">
                Lentes cerámicos
              </span>
            </div>
            <div class="col-12 text-left q-mt-sm">
              <span class="font-12 text-uppercase text-secondary">
                Aclaramiento
              </span>
            </div>
            <div class="col-12 text-left q-mt-sm">
              <span class="font-12 text-uppercase text-secondary">
                Limpieza
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 q-pl-xl q-pr-xl">
          <center>
            <div class="row">
              <div class="col-12 q-mt-sm text-left">
                <span class="text-h6 text-uppercase text-primary title">
                  Enlaces de interés
                </span>
              </div>
              <div class="col-12 text-left">
                <span>
                  <q-btn dense type="a" to="/" :label="$t('home')" flat />
                </span>
                -
                <span>
                  <q-btn dense type="a" to="/services" :label="$t('services')" flat />
                </span>
                -
                <span>
                  <q-btn dense type="a" to="/payments" :label="$t('payment')" flat />
                </span>
                -
                <span>
                  <q-btn dense type="a" to="/appoinment" :label="$t('date')" flat />
                </span>
                -
                <span>
                  <q-btn dense type="a" to="/blog" :label="$t('blog')" flat />
                </span>
                -
                <span>
                  <q-btn dense type="a" to="/contact" :label="$t('contact')" flat />
                </span>
              </div>
              <div class="col-12 q-mt-sm text-left">
                <span class="text-h6 text-uppercase text-primary title">
                  Newsletter
                </span>
              </div>
              <div class="col-12 text-left">
                Recibe notificaciones directas a tu correo electrónico
              </div>
              <div class="col-12 q-mt-sm">
                <q-form @submit="suscribe">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 mt-mobile-lg q-pr-md no-padding-mobile" filled round>
                      <q-input :rules="[val => !!val || 'Ingresa el correo electrónico', val => val.includes('@') || 'El correo debe poseer @', val => val.includes('.') || 'El correo ingresado debe terminar en .com, .org, etc']" type="email" bg-color="negative" rounded outlined dense v-model="suscription.email" placeholder="Correo electrónico" />
                    </div>
                    <div style="margin-top: -5px" class="col-md-12 col-sm-12 col-xs-12 q-pr-md no-padding-mobile" filled round>
                      <q-input type="number" bg-color="negative" rounded outlined dense v-model="suscription.phone" placeholder="Teléfono celular" />
                    </div>
                    <div class="col-md-12 col-sm-12 q-pb-lg col-12 mt-mobile-lg q-mt-md q-pr-md no-padding-mobile">
                      <q-btn size="10px" :loading="loading" outline rounded :disabled="!suscription.phone || !suscription.email" label="Suscribirse" type="submit" color="primary" class="full-width title" />
                    </div>
                  </div>
                </q-form>
              </div>
            </div>
          </center>
        </div>
      </div>
    </div>
    <div class="col-12 q-mt-lg q-pa-sm text-center bg-primary">
      <span class="font-14 text-white">
        Todos los derechos reservados 2020
      </span>
    </div>
  </section>
</template>

<script>
import { suscribeNewsLetter } from 'src/api/newsLetter'

export default {
  // name: 'ComponentName',
  components: {
  },
  data () {
    return {
      suscription: {},
      loading: false
    }
  },
  methods: {
    openUrl (key) {
      window.open(key)
    },
    suscribe () {
      this.loading = true
      return suscribeNewsLetter(this.suscription, (response) => {
        this.loading = false
        this.suscription = {}
        this.$notify('positive', response.data.success, 'green-9')
      }, (err) => {
        this.loading = false
        this.$notify('negative', err.message, 'red-9')
      })
    }
  }
}
</script>
