<template>
  <section class="header-banner">
    <div class="container">
      <div class="float-right breadCrumb-section flex flex-center">
        <div class="row">
          <div class="col-12 text-right">
            <span class="text-h4 text-white text-uppercase title">{{title}}</span>
          </div>
          <div class="col-12 text-right">
            <q-breadcrumbs class="text-white" align="right">
              <q-breadcrumbs-el  class="text-white text-capitalize" :label="$t('home')" />
              <q-breadcrumbs-el class="text-capitalize" :label="breadCrumb" />
            </q-breadcrumbs>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

export default {
  // name: 'ComponentName',
  props: {
    title: {
      type: String
    },
    breadCrumb: {
      type: String
    }
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
