<template>
  <div>
    <q-icon @click="openUrl('https://www.youtube.com/channel/UCmFFQqYvl8akrOAe9FpYGFA')" name="img:images/outube.png" color="primary" class="lt-md" style="height: 15px; width: 21px; padding-right: 12px" />
    <q-icon @click="openUrl('https://twitter.com/DraDianaPul')" name="img:images/twitter.png" color="primary" class="lt-md " style="height:16px; width: 20px; padding-right: 12px" />
    <q-icon @click="openUrl('https://es-la.facebook.com/pg/DraDianaPulgarin')" name="img:images/facebook.png" class="lt-md " color="primary" style="height:18px; width: 14px; padding-right: 12px" />
    <q-icon @click="openUrl('https://www.instagram.com/dradianapulgarin')" name="img:images/insta.png" class="lt-md " color="primary" style="height:18px; width: 18px; padding-right: 12px" />
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  components: {
  },
  data () {
    return {
    }
  },
  methods: {
    openUrl (key) {
      window.open(key, '_blank')
    }
  }
}
</script>
