<template>
  <q-card style="margin-top: -12px" v-if="render">
    <q-card-section>
      <q-form @submit="submit">
        <div class="row">
          <div class="col-12 col-md-6 q-pl-sm q-pr-sm">
            <q-input @input="reRender" :rules="[val => !!val || 'Ingresa la descripción.']" filled label="Descripción del caso de exito" v-model="caseReal.description">
              <template v-slot:append>
                <q-icon name="edit" color="primary" />
              </template>
            </q-input>
          </div>
          <div class="col-12 col-md-6 q-pl-sm q-pr-sm">
            <q-file v-if="!filter.id" :rules="[val => !!val || 'Ingresa la imágen.']" filled label="Selecciona la imágen del caso de exito" v-model="file">
              <template v-slot:append>
                <q-icon name="image" color="primary" />
              </template>
            </q-file>
            <q-file v-if="filter.id" filled label="Selecciona la imágen del caso de exito" v-model="file">
              <template v-slot:append>
                <q-icon name="image" color="primary" />
              </template>
            </q-file>
          </div>
          <div class="col-12 col-md-6 q-pl-sm q-pr-sm q-mt-md">
            <q-checkbox filled label="Activar caso de exito" v-model="status">
            </q-checkbox>
          </div>
          <div class="col-12 col-md-6 q-pl-sm q-pr-sm q-mt-md">
            <q-btn :loading="loading" type="submit" filled label="Guardar" class="full-width" color="primary">
            </q-btn>
          </div>
        </div>
      </q-form>
    </q-card-section>
  </q-card>
</template>

<script>

export default {
  // name: 'ComponentName',
  props: {
  },
  computed: {
    filter () {
      return this.$store.getters['caseReal/filterCaseReal']
    }
  },
  data () {
    return {
      caseReal: {},
      file: null,
      status: false,
      loading: false,
      render: true
    }
  },
  methods: {
    submit () {
      const formData = new FormData()
      formData.append('description', this.caseReal.description)
      if (this.status) {
        formData.append('status', 1)
      } else {
        formData.append('status', 0)
      }
      if (this.file) {
        formData.append('file', this.file)
      }

      if (this.filter.id) {
        formData.append('id', this.filter.id)
        const data = {}
        data.id = this.filter.id
        data.form = formData
        this.loading = true
        this.$store.dispatch('caseReal/updateCaseReal', data)
          .then((resp) => {
            this.$notify('positive', 'Se ha modificado el item correctamente.', 'green-9')
            this.loading = false
            this.$push('/dashboard/case-real')
          })
          .catch((err) => {
            this.loading = false
            this.$notify('negative', err.message, 'red-9')
          })
        return true
      }
      this.loading = true
      this.$store.dispatch('caseReal/addCaseReal', formData)
        .then((resp) => {
          this.$notify('positive', 'Se ha guardado el item correctamente.', 'green-9')
          this.loading = false
          this.$push('/dashboard/case-real')
        })
        .catch((err) => {
          this.loading = false
          this.$notify('negative', err.message, 'red-9')
        })
    },
    reRender () {
      this.render = false
      this.render = true
    }
  },
  beforeMount () {
    if (this.filter.id) {
      this.caseReal.description = this.filter.description
      if (this.filter.status === 1) {
        this.status = true
      } else {
        this.status = false
      }
    }
  }
}
</script>
