<template>
  <q-page>
    <banner />
    <realChanges class="desktop-only" />
    <aboutUs class="desktop-only" />
    <aboutUs class="mobile-only" />
    <realChanges class="mobile-only" />
    <services />
    <easyPayment />
    <banner2 />
    <addressess />
    <successChanges />
    <footerWeb />
    <floatButton />
  </q-page>
</template>

<script>
import banner from 'src/components/index/banner'
import realChanges from 'src/components/index/realChanges'
import aboutUs from 'src/components/index/aboutUs'
import services from 'src/components/index/services'
import easyPayment from 'src/components/index/easyPayment'
import banner2 from 'src/components/index/banner2'
import successChanges from 'src/components/index/successChanges'
import addressess from 'src/components/index/address'
import footerWeb from 'src/components/layout/footer'
import floatButton from 'src/components/index/floatWsButton'

export default {
  name: 'PageIndex',
  components: {
    banner,
    banner2,
    realChanges,
    successChanges,
    aboutUs,
    services,
    addressess,
    footerWeb,
    easyPayment,
    floatButton
  },
  meta: {
    title: 'HOME',
    titleTemplate: title => `${title} - DIANAPULGARIN`,
    meta: {
      description: { name: 'description', content: 'Dianapulgarin es la web de un grupo odontológico liderado por la Odontóloga Estética Diana Pulgarín, quien realizó sus estudios en el Colegio Odontológico de Cali, se especializó en Odontología Estética en NYU, Harvard University y es residente de la especialización de odontología láser de la universidad de AECHEN Alemania.' },
      keywords: { name: 'keywords', content: 'dianapulgarin, diana, pulgarin, odontologia, odontóloga, odontológico' },
      equiv: { 'http-equiv': 'Content-Type', content: 'text/html; charset=UTF-8' },
      ogTitle: {
        name: 'og:title'
      }
    }
  }
}
</script>
