<template>
  <q-page>
    <paymentMethodsIndex />
  </q-page>
</template>

<script>
import paymentMethodsIndex from 'src/components/payments/paymentMethods'

export default {
  name: 'PageIndex',
  components: {
    paymentMethodsIndex
  },
  meta: {
    title: 'PAYMENTS',
    titleTemplate: title => `${title} - DIANAPULGARIN`,
    meta: {
      description: { name: 'description', content: 'Dianapulgarin es la web de un grupo odontológico liderado por la Odontóloga Estética Diana Pulgarín, quien realizó sus estudios en el Colegio Odontológico de Cali, se especializó en Odontología Estética en NYU, Harvard University y es residente de la especialización de odontología láser de la universidad de AECHEN Alemania.' },
      keywords: { name: 'keywords', content: 'dianapulgarin, diana, pulgarin, odontologia, odontóloga, odontológico' },
      equiv: { 'http-equiv': 'Content-Type', content: 'text/html; charset=UTF-8' },
      ogTitle: {
        name: 'og:title'
      }
    }
  }
}
</script>
