<template>
  <q-page padding>
    <newsLetterIndex />
  </q-page>
</template>

<script>
import newsLetterIndex from 'src/components/admin/newsletter/index'

export default {
  name: 'PageIndex',
  components: {
    newsLetterIndex
  }
}
</script>
