<template>
  <div class="row">
    <div class="col-12">
      <headerCaseReal v-if="!filter.id" :title="'Agregar caso real'" />
      <headerCaseReal v-if="filter.id" :title="'Modificar caso real'" />
    </div>
    <div class="col-12">
      <formCaseReal />
    </div>
  </div>
</template>

<script>
import formCaseReal from 'src/components/admin/caseReal/components/add'
import headerCaseReal from 'src/components/admin/caseReal/components/header'

export default {
  // name: 'ComponentName',
  components: {
    formCaseReal,
    headerCaseReal
  },
  computed: {
    caseReal () {
      return this.$store.getters['caseReal/caseReal']
    },
    filter () {
      return this.$store.getters['caseReal/filterCaseReal']
    }
  },
  data () {
    return {}
  },
  methods: {
    getCases () {
      this.$store.dispatch('caseReal/getCases')
        .then((resp) => {
        })
        .catch((err) => {
          console.log(err)
        })
    }
  },
  beforeMount () {
    this.getCases()
  }
}
</script>
