<template>
  <div class="row">
    <div class="col-12">
      <headerCaseReal :title="'Casos reales'" />
    </div>
    <div class="col-12">
      <listCaseReal :data="caseReal" />
    </div>
  </div>
</template>

<script>
import listCaseReal from 'src/components/admin/caseReal/components/list'
import headerCaseReal from 'src/components/admin/caseReal/components/header'

export default {
  // name: 'ComponentName',
  components: {
    listCaseReal,
    headerCaseReal
  },
  computed: {
    caseReal () {
      return this.$store.getters['caseReal/caseReal']
    }
  },
  data () {
    return {}
  },
  methods: {
    getCases () {
      this.$store.dispatch('caseReal/getCases')
        .then((resp) => {
        })
        .catch((err) => {
          console.log(err)
        })
    }
  },
  beforeMount () {
    this.getCases()
  }
}
</script>
