// app global css in SCSS form

@font-face
  font-family: 'CAVIARDREAMS-BOLD'
  src: url('https://netizenone.xyz/dianapulgarin/api/public/font/caviardreams/caviardreams_bold.ttf')

@font-face
  font-family: 'CAVIARDREAMS'
  src: url('https://netizenone.xyz/dianapulgarin/api/public/font/caviardreams/caviardreams.ttf')

@font-face
  font-family: 'CAVIARDREAMS-BOLD'
  src: url('https://netizenone.xyz/dianapulgarin/font/caviardreams/caviardreams_bold.ttf')

@font-face
  font-family: 'CAVIARDREAMS'
  src: url('https://netizenone.xyz/dianapulgarin/font/caviardreams/caviardreams.ttf')

body
  font-family: CAVIARDREAMS

.title
  font-family: CAVIARDREAMS-BOLD

.text-brand
  font-size: 10px
  position: absolute
  bottom: -20px
  left: 102px
  letter-spacing: 4px
  @media (max-width: 760px)
    bottom: -0px
    left: 72px
    font-size: 8px

.brand-img
  margin-left: 110px
  margin-right: 10px
  @media (max-width: 760px)
    margin-left: 0px
  .q-btn__content
    img
      width: 211px
      height: 72px

.header-rrss
  max-width: 250px
  .q-btn__wrapper
    padding: 0em !important

.font-14
  font-size: 20px
  @media (max-width: 760px)
    font-size: 12px
  .block
    font-size: 15px
    @media (max-width: 760px)
      font-size: 8.5px
      font-weight: 800

.text-justifi-mobile
  @media (max-width: 760px)
    text-align: justify

.font-10
  @media (max-width: 760px)
    font-size: 12px

.diana-banner
  height: 78vh
  width: 100%
  background-image: url('https://netizenone.xyz/dianapulgarin/images/diana-banner.png')
  background-repeat: no-repeat
  background-position: right center
  background-size: contain
  @media (max-width: 760px)
    background-image: none

.btn-banner
  @media (max-width: 760px)
    font-size: 8px !important

.btn-banner 
  .q-btn__wrapper:before
    border: 2px solid $primary !important

.bg-mobile
  @media (max-width: 760px)
    height: 90vh !important
    background-image: url('https://netizenone.xyz/dianapulgarin/images/mobile-banner.png')
    background-position: right center
    background-size: contain
    background-repeat: no-repeat

.n-m-pl
  @media (max-width: 760px)
    margin-left: 0px !important

.n-m-pr
  @media (max-width: 760px)
    padding-right: 0px !important

.slider-real-changes
  margin-top: -100px !important
  @media (max-width: 760px)
    margin-top: 0px !important

.container
  width: 80%
  margin: 0px auto
  @media (max-width: 760px)
    margin: 0px auto
    width: 100%

.hooper-slide
  height: 170px !important
  width: 170px !important
  margin-right: 10px !important

.is-active
  background-color: $primary !important
  height: 10px !important
  width: 10px !important

.hooper-indicator
  height: 10px !important
  width: 10px !important
  border: 1px solid $secondary !important
  &:hover
    background-color: $primary !important

.container-main
  width: 80%
  margin: 150px auto 100px auto
  @media (max-width: 760px)
    margin: 200px auto 80px auto

.margin-custom
  margin: 80px auto 80px auto
  @media (max-width: 760px)
    margin: 50px auto 50px auto ! important

.rounded-borders
  border-radius: 15px

.pa-m-n
  @media (max-width: 760px)
    padding: 10px !important
    text-align: center

.font-12
  font-size: 15px

.service-grid
  height: auto !important
  position: relative
  width: 100%
  @media (min-width: 1760px)
    height: 40vh !important

.diana-footer
  

.diana-address
  height: auto !important
  padding-top: 3rem
  padding-bottom: 2rem
  @media (min-width: 1760px)
    height: 40vh !important
  @media (max-width: 560px)
    height: auto !important
  .text-h5
    @media (max-width: 760px)
      font-size: 18px !important
  .font-12
    @media (max-width: 760px)
      font-size: 10px !important
  .mt-mobile-2rem
    @media (max-width: 760px)
      margin-top: 20px !important

.real-cases
  height: 90vh !important
  @media (min-width: 1760px)
    height: 62vh !important
  @media (max-width: 760px)
    height: 55vh !important

.absolute-service
  bottom: 30px
  position: absolute
  width: 100%
  @media (min-width: 1760px)
    bottom: 50px

.service-grid-icon
  width: 100%

.selected-service
  background: $primary !important
  .title
    color: white !important

.easy-payment
  height: 50vh !important
  @media (max-width: 760px)
    text-align: center !important
    height: 47vh !important
  @media (min-width: 1760px)
    height: 30vh !important

.banner-2
  height: 80vh !important
  @media (max-width: 760px)
    height: 35vh !important

.text-h3
  @media (max-width: 760px)
    font-size: 1.8rem !important
    font-weight: 400

.header-btn
  .block
    border-bottom: 1px solid $primary

.banner-services
  height: 500px

.mt-top-services
  margin-top: 33%

.text-center-mobile
  @media (max-width: 990px)
    text-align: center !important

.bg-mobile-service
  @media (max-width: 760px)
    background-image: url('https://netizenone.xyz/dianapulgarin/images/dentist-examining-female-patient-with-tools.png')
    background-repeat: no-repeat
    background-size: cover

.vueperslide
  border-radius: 15px !important

.rounded-borders-2
  border-radius: 5px

.overflow-banner
  width: 100%
  height: 90vh
  z-index: 0
  @media (max-width: 760px)

.conten-banner
  width: 100%
  height: 90vh
  z-index: 1

.shadow2
  @media (max-width: 760px)
    color: black !important

.no-ml
  @media (max-width: 960px)
    margin-left: 0px !important

.bg-grey
  background: #70707030 !important

.margin-about-section
  @media (max-width: 760px)
    margin-top: 0px
    background: $primary
  @media (min-height: 800px)
    margin-top: -50px

.about-wrapper
  width: 80%
  margin: 0rem auto
  @media (max-width: 760px)
    width: 90%
    margin: 0px auto
    padding-top: 1rem
    padding: 1rem

.mt-mobile-about
  @media (max-width: 760px)
    margin-top: -10px !important

.banner-subtitle
  @media (max-width: 760px)
    margin-top: -20px !important

.banner-btn
  @media (max-width: 760px)
    margin-top: 10px !important
    font-size: 12px

.banner-m-mobile-custom-banner
  margin-top: -100px !important
  @media (max-width: 760px)
    margin-top: px !important
    text-aling: left !important

.banner-m-mobile-custom
  margin-top: -35px !important
  @media (max-width: 760px)
    margin-top: px !important
    text-aling: left !important

.mt-mobile-2rem
  margin-top: 1rem !important
  @media (max-width: 600px)
    margin-top: 3rem !important


// stiles main
.text-center-mobile
  @media (max-width: 600px)
    text-align: center

.mt-mobile-lg
  @media (max-width: 600px)
    margin-top: 20px

.no-pl-mobile
  @media (max-width: 990px)
    padding-left: 0px

.center-on-mobile
  float: none !important
  @media (max-width: 990px)
    margin: 0px auto !important

.no-padding-mobile
  @media (max-width: 990px)
    padding-left: 0px !important
    padding-right: 0px !important
    padding-top: 0px !important
    padding-bottom: 0px !important

h1
  @media (max-width: 600px)
    line-height: 40px !important

// header banner class
.header-banner
  height: 20vh
  background: $warning
  background-image: url('https://netizenone.xyz/dianapulgarin/images/banner-services.png')
  background-repeat: no-repeat
  background-position: left center
  background-size: contain
  @media (max-width: 600px)
    background-position: top center
    background-size: cover

.breadCrumb-section
  height: 20vh

// main banner class
.mainBanner
  height: 70vh
  width: 100%
  background-size: 0px
  position: relative
  .banner-description
    margin-top: -30px
    @media (max-width: 600px)
      margin-top: -20px
  .full-height
    height: 70vh !important
  .imgBanner
    width: 100%
    height: 100%
    position: relative
    background-repeat: no-repeat
    background-position: right center
    background-size: contain
  .overflow-banner
    height: 70vh
    width: 100%
    position: absolute
    background: #0000001f
    top: 0px
    display: none
    @media (max-width: 600px)
      display: inline

  @media (max-width: 600px)
    background-repeat: no-repeat
    background-position: right center
    background-size: contain

// newsletter class
.subtitle-newsletter
  margin-top: -20px
  @media (max-width: 600px)
    margin-top: -10px

.bg-newsletter
  width: 100%
  background-image: url('https://netizenone.xyz/dianapulgarin/images/newsletterimg.png')
  background-repeat: no-repeat
  background-position: top center
  background-size: cover
  @media (max-width: 760px)
    background-image: url('https://netizenone.xyz/dianapulgarin/images/newsletterimg.png')
    text-align: center !important
    background-position: top center
    background-size: cover

.appoiment-form
 max-width: 700px

.text-mobile-white
  @media (max-width: 760px)
    color: white !important
    text-align: left !important

.about-fondo
  @media (max-width: 760px)
    height: 180px
    width: 100%

.about-top
  @media (max-width: 760px)
    height: 180px
    width: 50%
    float: right
    margin-top: -185px
    position: relative
    z-index: 999

.about-top-2
  @media (max-width: 760px)
    height: 90px
    width: 90px
    float: right
    margin-top: -130px
    margin-right: 14px
    position: relative
    z-index: 999

.q-drawer__backdrop
  background: none !important

aside
  background-image: url('https://netizenone.xyz/dianapulgarin/images/dp_Triangulos-Dorado.png') !important
  text-align: center !important
  background-position: top center !important
  background-size: cover !important
  border-radius: 50px 0px 0px 50px
  -webkit-box-shadow: -13px -1px 27px 3px rgba(0, 0, 0, 0.30)
  box-shadow: -13px -1px 27px 3px rgba(0,0,0,0.58)
  .aside-text
    color: $primary
  .active
    background: $primary
    color: white !important

.bg-ws
  background: #1ebea5

.bg-ws-2
  background: #01e675

.slider-show-all
  @media (max-width: 760px)
    float: right
    margin-top: -40px
    margin-right: 10px

.q-fab
  .absolute-full
    height: 45px
    width: 45px
    left: -10px
    top: -5px

.border-top-grey
  border-top: 0.1px solid white

.service-grid-icon
  .q-icon
    @media (max-width: 760px)
      font-size: 70px !important

.margin-mobile-new
  @media (max-width: 760px)
    margin-top: 20px !important
    padding-top: 0px !important
  .text-h5
    font-size: 1.0rem

.relative
  position: relative

.mockup-consultorios
  max-width: 300px
  bottom: -93px
  margin: 0px auto !important
  @media (max-width: 760px)
    bottom: -90px
    width: 100%
    height: 430px

.clickable
  cursor: pointer

.footer-dian
  background-image: url('https://netizenone.xyz/dianapulgarin/images/dp_Triangulos-Dorado.png')
  background-position: right center
  background-size: contain
  background-repeat: no-repeat
  .q-field
    &--dense
      .q-field__control, .q-field__marginal
        height: 30px !important
