.vueperslides__bullet .default {
  background-color: #817d7d3b;
  border: 0px solid black;
  box-shadow: none;
  transition: 0.3s;
  width: 12px;
  height: 12px;
}

.brand-img .q-btn__content img {
  top: 14px;
  left: 8px;
  width: 211px;
  height: 64px;
}


.vueperslides__bullet--active .default {background-color: #a18541;}

.vueperslides__bullet span {
  display: block;
  color: #fff;
  border: 0px solid black;
  font-size: 10px;
  opacity: 0.8;
}

.active {
  background: blue
}

.slider-example-split-line {
  --divider-width: 2px;
  --divider-color: #A28541;
  --handle-opacity: 0;
}

.slider-example-focus {
  transition: box-shadow 200ms ease-in-out;
  --handle-size: 100px;
  --handle-opacity: 0.5;
  --handle-opacity-active: 0.5;
}

.custom-handle {
  width: var(--handle-size);
  height: var(--handle-size);
}

.blob.ws {
  box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
  animation: ws 2s infinite;
}

@keyframes ws {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}
