<template>
  <q-table :data="data" :columns="columns" row-key="name">
    <template v-slot:body="props">
      <q-tr :props="props">
        <q-td key="id" :props="props">
          {{props.row.id}}
        </q-td>
        <q-td key="description" :props="props">
          {{props.row.description}}
        </q-td>
        <q-td key="status" :props="props">
          <q-chip v-if="props.row.status === 1" square color="primary" size="10px" class="text-white">
            Activo
          </q-chip>
          <q-chip v-if="props.row.status === 0" square color="red-9" size="10px" class="text-white">
            Inactivo
          </q-chip>
        </q-td>
        <q-td key="image" :props="props">
          <q-img class="rounded-borders-2" :src="url + '/images/caseSuccess/' + props.row.path" width="50px" />
        </q-td>
        <q-td key="option" :props="props">
          <q-btn-dropdown flat dense color="black" label="">
            <q-btn flat densed @click="editCaseSuccess(props.row)" icon="edit" color="primary" class="" >
              <q-tooltip content-class="bg-green-9" :offset="[10, 10]">
                Editar caso de exito
              </q-tooltip>
            </q-btn>
            <q-btn :loading="loading" flat densed @click="deleteCaseSuccess(props.row.id)" icon="delete" color="secondary" class="" >
              <q-tooltip content-class="bg-red-9" :offset="[10, 10]">
                Eliminar caso de exito
              </q-tooltip>
            </q-btn>
          </q-btn-dropdown>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<script>
import { domain } from 'src/api/data'

export default {
  // name: 'ComponentName',
  props: {
    data: Array
  },
  components: {
  },
  data () {
    return {
      url: domain,
      loading: false,
      columns: [
        { name: 'id', required: true, label: 'ID', align: 'center', field: row => row.id, sortable: true, classes: 'ellipsis', style: 'width: 100px', headerClasses: 'bg-primary text-white' },
        { name: 'description', align: 'center', label: 'DESCRIPCIÓN', field: 'description', sortable: false },
        { name: 'status', align: 'center', label: 'ESTADO', field: 'status', sortable: false },
        { name: 'image', label: 'IMÁGEN', field: 'image', sortable: false },
        { name: 'option', label: 'VER', sortable: false }
      ]
    }
  },
  methods: {
    editCaseSuccess (item) {
      this.$store.dispatch('caseSuccess/filterCaseSuccess', item)
        .then((resp) => {
          this.$push('/dashboard/case-Success/add')
        })
        .catch((err) => {
          this.loading = false
          this.$notify('negative', err.message, 'red-9')
        })
    },
    deleteCaseSuccess (id) {
      this.loading = true
      this.$store.dispatch('caseSuccess/deleteCaseSuccess', id)
        .then((resp) => {
          this.$notify('positive', 'Se ha eliminado el item correctamente.', 'red-9')
          this.loading = false
        })
        .catch((err) => {
          this.loading = false
          this.$notify('negative', err.message, 'red-9')
        })
    }
  }
}
</script>
