<template>
  <div class="row">
    <div class="col-12">
      <headerService :title="$t('payment')" :breadCrumb="$t('payment')" />
    </div>
    <div class="col-12">
      <bannerService :title="'MEDIOS <br> DE PAGO'" :description="descriptionBanner" :img="imgBanner" :showButton="false" />
    </div>
    <div class="col-12" :class="mtXl">
      <newsLetter />
    </div>
  </div>
</template>

<script>
import headerService from 'src/components/layout/headerPages'
import bannerService from 'src/components/layout/banner'
import newsLetter from 'src/components/layout/newsLetter'

import { services } from 'src/utils/services.json'

export default {
  // name: 'ComponentName',
  components: {
    headerService,
    bannerService,
    newsLetter
  },
  computed: {
    mtXl () {
      return this.$q.screen.gt.sm
        ? 'q-mt-xl'
        : 'q-mt-none'
    }
  },
  data () {
    return {
      descriptionBanner: 'Puedes hacer tus pagos aquí de tus tratamientos de Diseño de Sonrisa, Ortodoncia y Odontología General. <br><br> Disponemos de montos fijos, si requieres pagar un valor diferente, debes comunicarte con tu asesor comercial.',
      imgBanner: 'banner-2-services.png',
      servicesLists: services,
      gtMd: true
    }
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
