<template>
  <div class="row">
    <div class="col-12">
      <headerService :title="$t('date')" :breadCrumb="$t('date')" />
    </div>
    <div class="col-12">
      <bannerService :title="'AGENDA TU <br>CITA AHORA'" :description="descriptionBanner" :img="imgBanner" :showButton="false" />
    </div>
    <div class="col-12">
      <appoimentForm />
    </div>
    <div class="col-12" :class="mtXl">
      <newsLetter />
    </div>
  </div>
</template>

<script>
import headerService from 'src/components/layout/headerPages'
import bannerService from 'src/components/layout/banner'
import newsLetter from 'src/components/layout/newsLetter'
import appoimentForm from './form'

import { services } from 'src/utils/services.json'

export default {
  // name: 'ComponentName',
  components: {
    headerService,
    bannerService,
    newsLetter,
    appoimentForm
  },
  computed: {
    mtXl () {
      return this.$q.screen.gt.sm
        ? 'q-mt-xl'
        : 'q-mt-none'
    }
  },
  data () {
    return {
      descriptionBanner: '<span style="color: black; font-wight: 800!important" class="title"><strong>¡Estás a punto de cambiar tu sonrisa!</strong></span><br>Selecciona una de las sedes para acceder a la disponibilidad de nuestros profesionales en tiempo real.',
      imgBanner: 'banner-2-services.png',
      servicesLists: services,
      gtMd: true
    }
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
