<template>
  <div class="container">
    <div class="appoiment-form q-mt-xl">
      <q-card>
        <q-card-section class="text-primary">
          <span class="text-h5 title">
            Aganda tu cita
          </span>
        </q-card-section>
        <q-card-section>
          <div class="row">
            <div class="col-12">
              <q-form @submit="submitForm" class="row">
                <div class="col-12 col-md-6 q-pa-sm">
                  <q-input :rules="[val => !!val || 'Este campo es requerido']" v-model="appoiment.name" filled label="Nombre completo" class=" col-12">
                    <template v-slot:append>
                      <q-icon name="person" color="primary" />
                    </template>
                  </q-input>
                </div>
                <div class="col-12 col-md-6 q-pa-sm">
                  <q-input :rules="[val => !!val || 'Este campo es requerido']" v-model="appoiment.phone" filled label="Teléfono" class=" col-12">
                    <template v-slot:append>
                      <q-icon name="phone" color="primary" />
                    </template>
                  </q-input>
                </div>
                <div class="col-12 col-md-12 q-pa-sm">
                  <q-input :rules="[val => !!val || 'Este campo es requerido', val => val.includes('@') || 'El correo debe contener @', val => val.includes('.') || 'El correo debe terminar en .com, .org, etc']" v-model="appoiment.email" filled label="Correo electrónico" class=" col-12">
                    <template v-slot:append>
                      <q-icon name="email" color="primary" />
                    </template>
                  </q-input>
                </div>
                <div class="col-12 col-md-6 q-pa-sm">
                  <q-input :rules="[val => !!val || 'Este campo es requerido']" label="Fecha tentativa" filled v-model="appoiment.date">
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                          <q-date v-model="appoiment.date">
                            <div class="row items-center justify-end">
                              <q-btn v-close-popup label="Close" color="primary" flat />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </div>
                <div class="col-12 col-md-6 q-pa-sm">
                  <q-select :rules="[val => !!val || 'Este campo es requerido']" color="primary" filled v-model="appoiment.service" :options="options" label="Servicio" label-color="primary" class="text-capitalize">
                  </q-select>
                </div>
                <div class="col-12">
                  <q-input :rules="[val => !!val || 'Este campo es requerido']" filled label="Comentarios" type="textarea" />
                </div>
                <div class="col-12">
                  <center>
                    <q-btn label="Reservar" color="primary" type="submit" icon-right="send" />
                  </center>
                </div>
              </q-form>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  components: {
  },
  computed: {
  },
  data () {
    return {
      appoiment: {},
      options: [
        {
          id: 1,
          label: 'Diseño de sonria'
        },
        {
          id: 2,
          label: 'Mini diseño'
        },
        {
          id: 3,
          label: 'Fase higiénica'
        },
        {
          id: 4,
          label: 'Cirugías'
        },
        {
          id: 5,
          label: 'Ortodoncia'
        },
        {
          id: 6,
          label: 'Lentes cerámicos'
        },
        {
          id: 7,
          label: 'Aclaramiento'
        },
        {
          id: 8,
          label: 'Limpieza'
        }
      ]
    }
  },
  methods: {
    submitForm () {
      console.log(123)
    }
  },
  beforeMount () {
  }
}
</script>
