<template>
  <section class="margin-about-section">
    <div class="container full-width">
      <div class="row">
        <div class="col-md-5 col-12 desktop-only q-pa-xl">
          <center>
            <q-img class="rounded-borders desktop-only" src="images/dentist-examining-female-patient-with-tools.png" />
          </center>
        </div>
        <div class="col-md-5 col-12 mobile-only">
          <center>
            <img class="mobile-only about-fondo" src="images/dp_Foto-Odontologia.png" />
            <img class="mobile-only about-top" src="images/dp_Secuencia-Dorado.png" />
            <img class="mobile-only about-top-2" src="images/dp_Icono-LogotipoBlanco.png" />
          </center>
        </div>
        <div class="col-md-7 col-12 flex flex-center">
          <div class="about-wrapper">
            <div class="row full-width">
              <div class="col-12 text-center-mobile">
                <h1 :class="textH" class="q-ml-xl no-ml text-uppercase text-primary title text-mobile-white">SOBRE NOSOTROS</h1>
              </div>
              <div class="col-12 text-center-mobile q-ml-xl no-ml shadow.2 text-secondary text-justify text-mobile-white mt-mobile-about" :class="fontH" style="margin-top: -30px">
                Somos un grupo odontológico liderado por la Odontóloga Estética Diana Pulgarín, quien realizó sus estudios en el Colegio Odontológico de Cali, se especializó en Odontología Estética en NYU, Harvard University y es residente de la especialización de odontología láser de la universidad de AECHEN Alemania, manteniéndose a la vanguardia de los últimos adelantos en técnicas y procedimientos odontológicos.
              </div>
              <div class="col-12 desktop-only text-center-mobile shadow.2 text-secondary font-14" style="margin-top: 20px">
                <q-btn @click="contactDialog = !contactDialog" rounded outline label="contactanos" color="primary" size="12px" class="q-pl-md q-ml-xl q-pr-md title no-ml" />
              </div>
              <div class="col-12 mobile-only shadow.2 text-secondary font-14 q-pb-lg" style="margin-top: 20px">
                <q-btn @click="contactDialog = !contactDialog" rounded outline label="contactanos" color="white" size="12px" class="q-pl-md q-ml-xl q-pr-md title no-ml" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <q-dialog v-model="contactDialog">
      <q-card style="min-width: 340px; max-width: 500px;">
        <q-card-section class="q-pa-none">
          <q-toolbar class="bg-primary text-white title">
            <q-toolbar-title class="text-left text-white font-14">
              Mensaje
            </q-toolbar-title>
            <q-space />
            <q-btn flat dense icon="close" @click="contactDialog = !contactDialog" />
          </q-toolbar>
        </q-card-section>
        <q-card-section>
          <q-form @submit="sendEmail">
            <div class="row">
              <div class="col-12 q-pa-sm">
                <q-input v-model="email.name" label="Tu nombre" filled />
              </div>
              <div class="col-12 col-md-6 q-pa-sm">
                <q-input v-model="email.email" label="Tu email de contacto" filled />
              </div>
              <div class="col-12 col-md-6 q-pa-sm">
                <q-input v-model="email.phone" label="Tu teléfono" filled />
              </div>
              <div class="col-12 q-pa-sm">
                <q-input type="textarea" v-model="email.message" label="Tu mensaje" filled />
              </div>
              <div class="col-12 col-md-6 q-pa-sm">
              </div>
              <div class="col-12 col-md-6 q-pa-sm">
                <q-btn :loading="loading" :disabled="!email.name || !email.email || !email.phone || !email.message" label="enviar" type="submit" color="primary" class="full-width" icon-right="send" />
              </div>
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </section>
</template>

<script>
import { contactEmail } from 'src/api/email.js'

export default {
  // name: 'ComponentName',
  components: {
  },
  computed: {
    textH () {
      return this.$q.screen.gt.lg
        ? 'text-h1'
        : 'text-h3'
    },
    fontH () {
      return this.$q.screen.gt.lg
        ? 'text-h4'
        : 'font-12'
    }
  },
  data () {
    return {
      contactDialog: false,
      email: {},
      loading: false
    }
  },
  methods: {
    sendEmail () {
      this.loading = true
      return contactEmail(this.email, (response) => {
        this.contactDialog = false
        this.loading = false
        this.$notify('positive', 'Se ha enviado tu mensaje correctamente.', 'green-9')
      }, (err) => {
        this.$notify('negative', err.message, 'red-9')
        this.loading = false
      })
    }
  }
}
</script>
