<template>
  <div class="row bg-primary diana-address">
    <div class="col-12 flex flex-center">
      <div class="container">
        <span class="text-uppercase text-h3 text-white title q-pl-md">
          consultorios
        </span>
      </div>
    </div>
    <div class="col-12 flex flex-center">
      <div class="container">
        <div class="row full-width">
          <div class="col-5 q-pa-md flex flex-center">
            <div class="row full-width">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="row full-width">
                  <div class="col-12">
                    <span class="text-white title" :class="textH">
                      MEDELLÍN
                    </span>
                  </div>
                  <div class="col-12 font-12">
                    <span class="text-white ellipsis-2-lines" @click="leaveEllipsis" :class="fontH">
                      Cra 42 # 5 Sur - 145 Edificio Ofi7 La Francia, Oficina 806. (al frente del CC Santa Fé).<br>
                      Celular: 3012719450
                    </span>
                  </div>
                  <div class="col-12">
                    <q-icon @click="openUrl('https://api.whatsapp.com/send/?phone=573012719450&text&app_absent=0')" name="img:images/Icono-Whatsapp-Blanco-90x.png" size="20px" class="clickable" />
                    <q-icon @click="openUrl('https://www.google.com/maps/place/Dra.+Diana+Pulgar%C3%ADn/@6.1970629,-75.5729208,15z/data=!4m5!3m4!1s0x0:0x470c03c74ed0e436!8m2!3d6.1970629!4d-75.5729208?shorturl=1')" class="q-pl-sm clickable" name="img:images/waze.png" size="20px" />
                  </div>
                </div>
              </div>
               <div class="col-xs-12 col-sm-12 col-md-12 mt-mobile-2rem">
                <div class="row full-width">
                  <div class="col-12">
                    <span class="text-white title" :class="textH">
                      BOGOTÁ
                    </span>
                  </div>
                  <div class="col-12 font-12">
                    <span class="text-white ellipsis-2-lines" @click="leaveEllipsis" :class="fontH">
                      Cra 12 · 98 -64, Edificio Althea Chicó Norte, Consultorio 411. <br> Celular: 3222251706
                    </span>
                  </div>
                  <div class="col-12">
                    <q-icon @click="openUrl('https://api.whatsapp.com/send/?phone=573222251706&text&app_absent=0')" name="img:images/Icono-Whatsapp-Blanco-90x.png" size="20px" class="clickable" />
                    <q-icon @click="openUrl('https://www.google.com/maps/place/Edificio+Althea+Salud+Compensar+Plan+Complementario/@4.6824122,-74.0457597,15z/data=!4m5!3m4!1s0x0:0x31a2069a29f5a553!8m2!3d4.6824122!4d-74.0457597?shorturl=1')" class="q-pl-sm clickable" name="img:images/waze.png" size="20px" />
                  </div>
                </div>
              </div>
               <div class="col-xs-12 col-sm-12 col-md-12 mt-mobile-2rem">
                <div class="row full-width">
                  <div class="col-12">
                    <span class="text-white title" :class="textH">
                      CALI
                    </span>
                  </div>
                  <div class="col-12 font-12">
                    <span class="text-white ellipsis-2-lines" @click="leaveEllipsis" :class="fontH">
                      Edificio Vida, torre 1, consultorio 1017<br> Celular: 3012719450
                    </span>
                  </div>
                  <div class="col-12">
                    <q-icon @click="openUrl('https://api.whatsapp.com/send/?phone=573012719450&text&app_absent=0')" name="img:images/Icono-Whatsapp-Blanco-90x.png" size="20px" class="clickable" />
                    <q-icon @click="openUrl('https://www.google.com/maps/place/Dra+diana+pulgarin/@3.422772,-76.5422282,15z/data=!4m5!3m4!1s0x0:0xc2c786e1b199dee!8m2!3d3.422772!4d-76.5422282?shorturl=1')" class="q-pl-sm clickable" name="img:images/waze.png" size="20px" />
                  </div>
                </div>
              </div>
               <div class="col-xs-12 col-sm-6 col-md-6 mt-mobile-2rem">
                <div class="row full-width">
                  <div class="col-12">
                    <span class="text-white title" :class="textH">
                      GUATEMALA
                    </span>
                  </div>
                  <div class="col-12 font-12">
                    <span class="text-white ellipsis-2-lines" @click="leaveEllipsis" :class="fontH">
                      Ciudad de Guatemala Zona 10; 12 Calle 1-25 Geminis 10  Torre Sur, Oficina 602.<br> Celular: (502)50251425
                    </span>
                  </div>
                  <div class="col-12">
                    <q-icon @click="openUrl('https://api.whatsapp.com/send/?phone=573222251706&text&app_absent=0')" name="img:images/Icono-Whatsapp-Blanco-90x.png" size="20px" class="clickable" />
                    <q-icon @click="openUrl('https://www.google.com/maps/place/Condominio+G%C3%A9minis+10/@14.6012341,-90.5168939,17z/data=!3m1!4b1!4m5!3m4!1s0x8589a3cfbdfbee1f:0xfa360603f7c67d32!8m2!3d14.6012341!4d-90.5147052?shorturl=1')" class="q-pl-sm clickable" name="img:images/waze.png" size="20px" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-7 relative">
            <center>
              <img class="mockup-consultorios absolute absolute-bottom" src="images/dp_Celular-Mockup.png" />
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  components: {
  },
  computed: {
    textH () {
      return this.$q.screen.gt.lg
        ? 'text-h3'
        : 'text-h5'
    },
    fontH () {
      return this.$q.screen.gt.lg
        ? 'text-h5'
        : 'text-h8'
    }
  },
  data () {
    return {}
  },
  methods: {
    openUrl (url) {
      window.open(url, '_blank')
    },
    leaveEllipsis (e) {
      e.target.classList.remove('ellipsis-2-lines')
    }
  }
}
</script>
