<template>
  <div class="diana-banner relative">
    <div class="conten-banner">
      <informationBanner class="flex flex-left q-pl-lg" />
    </div>
  </div>
</template>

<script>
import informationBanner from './banner/information'

export default {
  // name: 'ComponentName',
  components: {
    informationBanner
  },
  data () {
    return {}
  }
}
</script>
