<template>
  <div class="row bg-info easy-payment">
    <div class="col-12">
      <div class="container flex flex-center easy-payment">
        <div class="row full-width">
          <div class="col-12 col-md-4">
            <span class="text-primary title" :class="textH">
              FACILIDAD DE PAGOS
            </span>
          </div>
          <div class="col-12 q-mt-md font-14">
            <span class="text-white">
              ¡Ahora puedes hacer tu pagos y abonos online!
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  components: {
  },
  computed: {
    textH () {
      return this.$q.screen.gt.lg
        ? 'text-h1'
        : 'text-h3'
    }
  },
  data () {
    return {}
  }
}
</script>
