<template>
  <q-page-sticky position="bottom-right" style="z-index: 999" :offset="[18, 18]">
    <q-fab icon="img:images/ws.png" direction="up" class="bg-ws blob ws">
      <q-fab-action @click="openUrl('https://api.whatsapp.com/send/?phone=573012719450&text&app_absent=0')" class="bg-white text-white">
        <q-icon name="img:images/CALI.png" size="40px" />
      </q-fab-action>
      <q-fab-action @click="openUrl('https://api.whatsapp.com/send/?phone=573222251706&text&app_absent=0')" class="bg-white text-white">
        <q-icon name="img:images/GUATEMALA.png" size="40px" />
      </q-fab-action>
      <q-fab-action @click="openUrl('https://api.whatsapp.com/send/?phone=573012719450&text&app_absent=0')" class="bg-white text-white">
        <q-icon name="img:images/MEDELLIN.png" size="40px" />
      </q-fab-action>
      <q-fab-action @click="openUrl('https://api.whatsapp.com/send/?phone=573222251706&text&app_absent=0')" class="bg-white text-white">
        <q-icon name="img:images/BOGOTA.png" size="40px" />
      </q-fab-action>
    </q-fab>
  </q-page-sticky>
</template>

<script>

export default {
  // name: 'ComponentName',
  components: {
  },
  computed: {
    textH () {
      return this.$q.screen.gt.lg
        ? 'text-h1'
        : 'text-h3'
    }
  },
  data () {
    return {}
  },
  methods: {
    openUrl (key) {
      window.open(key, '_blank')
    }
  }
}
</script>
