<template>
  <div class="container slider-real-changes">
    <div class="row q-mt-lg">
      <div class="col-7 lt-md q-pl-md">
        <span class="text-uppercase text-h6 text-primary title">CAMBIOS REALES</span>
      </div>
      <div class="col-5 lt-md">
        <center>
          <q-btn to="/appoinment" rounded outline label="pide tu cita aquí" color="primary" size="8px" class="title text-left btn-banner" />
        </center>
      </div>
      <sliderReal />
      <div class="col-12 lt-md">
        <q-btn rounded label="Ver todo" color="primary" size="9px" class="title slider-show-all" />
      </div>
    </div>
  </div>
</template>

<script>
import sliderReal from './realChanges/slider'

export default {
  // name: 'ComponentName',
  components: {
    sliderReal
  },
  data () {
    return {}
  }
}
</script>
