<template>
  <servicesList />
</template>

<script>
import servicesList from './services/services'
export default {
  // name: 'ComponentName',
  components: {
    servicesList
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
