<template>
  <section>
    <div class="row full-width bg-info">
      <div class="col-12 q-mt-xl q-mb-xl q-pt-xl q-pb-xl text-center">
        <span :class="textH" class="text-primary title">CASOS DE ÉXITO</span><br>
        <span class="font-14 text-white">
          Grandes personas que confiaron en nosotros
        </span>
      </div>
    </div>
    <div class="row q-mb-xl q-pb-sm" style="margin-top: -80px">
      <successSlider />
    </div>
  </section>
</template>

<script>
import successSlider from './successChange/slider'

export default {
  // name: 'ComponentName',
  components: {
    successSlider
  },
  computed: {
    textH () {
      return this.$q.screen.gt.lg
        ? 'text-h1'
        : 'text-h3'
    },
    fontH () {
      return this.$q.screen.gt.lg
        ? 'text-h4'
        : 'font-14'
    }
  },
  data () {
    return {}
  }
}
</script>
