<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar class="bg-white text-secondary q-pb-md">
        <q-btn class="brand-img self-stretch no-border-radius gt-sm q-mt-sm q-mb-sm" to="/" flat  color="purple">
          <img src="images/logo.png">
          <p class="text-uppercase text-black title text-brand">Dental Group</p>
        </q-btn>
        <q-img class="brand-img self-stretch no-border-radius lt-md q-mt-sm q-mb-sm" flat  color="purple" src="images/logo.png" width="150px">
        </q-img>
        <p class="text-uppercase text-black title text-brand lt-md">Dental Group</p>

        <q-toolbar-title class="text-center gt-sm font-14">
          <q-btn v-for="(page, idx) in pages" :key="idx" :to="page.path" :class="{ 'header-btn': selectedSection === page.id }" class="title q-mr-lg q-mt-sm" @click="setSelectedSection(page.id)" :label="$t(page.label)" flat dense  />
        </q-toolbar-title>

        <div class="q-pr-xl header-rrss n-m-pr text-right gt-sm">
          <q-btn v-for="(rrSs, idx) in rrSs" :key="idx" type="a" :href="rrSs.href" class="title q-pa-none" @click="setSelectedSection(5)" flat dense target="_blank">
            <q-avatar square >
              <img :src="rrSs.icon" :style="{ 'width': rrSs.width, 'height': rrSs.height }">
            </q-avatar>
          </q-btn>
        </div>

        <q-space class="lt-md" />
        <rrssIcons />
        <q-btn flat round dense color="primary" class="lt-md" @click="leftDrawer = !leftDrawer">
          <q-icon style="height:13px; width: 19px;" name="img:images/dp_Icono-Menu.png" />
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer :width="250" v-model="leftDrawer" side="right" content-class="bg-gray">
      <div class="row q-pl-lg q-pt-md">
        <q-btn flat round dense color="primary" class="lt-md" @click="leftDrawer = !leftDrawer">
          <q-icon style="height:13px; width: 19px;" name="img:images/dp_Icono-Menu.png" />
        </q-btn>
      </div>
      <q-list class="q-mt-lg">
        <q-item v-for="(page, idx) in pages" :key="idx" clickable v-ripple :to="page.path" class="q-pa-none">
          <q-item-section class="full-width title text-primary text-uppercase" :class="setActiveClass(page.path)">
            <q-item-label class="full-width title text-uppercase">
              {{$t(page.label)}}
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
      <div class="row justify-center absolute absolute-bottom q-mt-md q-mb-lg">
        <div class="col-12">
          <q-img src="images/dp_Logotipo-Dorado.png" width=" 150px" />
        </div>
        <div class="col-12 q-mt-md text-primary">
          info@dianapulgarin.com
        </div>
        <div class="col-12 q-mt-sm text-primary">
          (+57)301271945
        </div>
        <div class="col-12 q-mt-md">
          <rrssIcons />
        </div>
      </div>
    </q-drawer>

    <q-page-container>
      <q-ajax-bar ref="bar" position="top" color="primary" size="4px" skip-hijack/>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import rrssIcons from 'src/components/layout/rrssIcons'

export default {
  name: 'MainLayout',
  components: {
    rrssIcons
  },
  computed: {
    locale () {
      return this.$store.getters['auth/locale']
    }
  },
  data () {
    return {
      leftDrawer: false,
      selectedSection: 1,
      rrSs: [
        { icon: 'images/outube.png', href: 'https://www.youtube.com/channel/UCmFFQqYvl8akrOAe9FpYGFA', width: '20px', height: '15px' },
        { icon: 'images/twitter.png', href: 'https://twitter.com/DraDianaPul', width: '20px', height: '15px' },
        { icon: 'images/facebook.png', href: 'https://es-la.facebook.com/pg/DraDianaPulgarin', width: '13px', height: '15px' },
        { icon: 'images/insta.png', href: 'https://www.instagram.com/dradianapulgarin', width: '18px', height: '15px' }
      ],
      pages: [
        { id: 1, path: '/', label: 'home' },
        { id: 2, path: '/services', label: 'services' },
        { id: 3, path: '/payments', label: 'payment' },
        { id: 4, path: '/appoinment', label: 'date' },
        { id: 5, path: '/blog', label: 'blog' },
        { id: 5, path: '/contact', label: 'contact' }
      ]
    }
  },
  methods: {
    setSelectedSection (i) {
      this.selectedSection = i
    },
    openUrl (key) {
      window.open(key, '_blank')
    },
    getClientData () {
      this.$store.dispatch('auth/setLocale')
        .then((resp) => {
          this.$i18n.locale = this.locale
        })
        .catch((err) => {
          console.log(err)
        })
    },
    setActiveClass (path) {
      if (path === this.$route.path) {
        return 'active'
      } else {
        return 'no-active'
      }
    }
  },
  beforeMount () {
    this.getClientData()
  }
}
</script>
