<template>
  <div class="col-12 q-mt-md" v-if="caseSuccess.length > 0">
    <vueper-slides :touchable="true" fade :autoplay="false" :arrows="false" class="no-shadow" :visible-slides="4" slide-multiple :gap="2" :slide-ratio="1 / 4.4" :dragging-distance="70" :breakpoints="{ 900: { visibleSlides: 2, slideMultiple: 1, slideRatio: 1 / 2 }, 1200: { visibleSlides: 3, slideMultiple: 1, slideRatio: 1 / 3 }, 600: { visibleSlides: 3, slideMultiple: 1, slideRatio: 1 / 3 } }">
      <vueper-slide class="shadow-5 q-mb-sm" v-for="(real, idx) in caseSuccess" :key="idx" :image="url + '/images/caseSuccess/' + real.path" @click.native="setBeforeAfterImage(url + '/images/caseSuccess/' + real.path)">
      </vueper-slide>
      <template v-slot:bullet="{ bulletIndexes, goToSlide, currentSlide }">
        <span v-for="(slideIndex, i) in bulletIndexes" :key="i" :class="{ 'active': currentSlide === slideIndex }" @click="goToSlide(slideIndex)">
          <i class="icon">{{ active ? 'check_circle' : 'radio_button_unchecked' }}</i>
        </span>
      </template>
    </vueper-slides>

    <q-dialog v-model="beforeAfter">
      <q-card class="">
        <q-card-section class="q-pa-none">
          <q-toolbar class="bg-primary text-white title font-14">
            Antes y despues
            <q-space />
            <q-btn flat dense icon="close" @click="beforeAfter = !beforeAfter" />
          </q-toolbar>
        </q-card-section>
        <q-card-section class="q-pa-non">
          <img-comparison-slider class="slider-example-focus">
            <img slot="before" :src="'https://netizenone.xyz/dianapulgarin/api/public/images/caseReal/20210504_151050'" />
            <img slot="after" :src="afterImage" />
            <img slot="handle" class="custom-handle" src="images/arrows-handle.svg">
          </img-comparison-slider>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { VueperSlides, VueperSlide } from 'vueperslides'
import 'vueperslides/dist/vueperslides.css'

import { domain } from 'src/api/data'

export default {
  // name: 'ComponentName',
  components: {
    VueperSlides,
    VueperSlide
  },
  computed: {
    caseSuccess () {
      return this.$store.getters['caseSuccess/caseSuccess']
    }
  },
  data () {
    return {
      url: domain,
      render: false,
      hooperSettings: {
        itemsToShow: 4,
        centerMode: false,
        breakpoints: {
          400: {
            centerMode: false,
            itemsToShow: 1
          },
          800: {
            centerMode: false,
            itemsToShow: 3
          },
          1000: {
            itemsToShow: 4,
            pagination: 'fraction'
          }
        }
      },
      beforeImage: null,
      afterImage: null,
      beforeAfter: false
    }
  },
  methods: {
    getActives () {
      this.$store.dispatch('caseSuccess/getCasesActives')
        .then((resp) => {
        })
        .catch((err) => {
          console.log(err)
        })
    },
    setBeforeAfterImage (path) {
      this.render = false
      this.beforeImage = path
      this.afterImage = path
      this.beforeAfter = true
      this.render = true
    }
  },
  created () {
    this.getActives()
  }
}
</script>
