<template>
  <div class="row">
    <div class="col-12">
      <headerCaseSuccess v-if="!filter.id" :title="'Agregar caso de exito'" :showButton="false" />
      <headerCaseSuccess v-if="filter.id" :title="'Modificar caso de exito'" :showButton="false" />
    </div>
    <div class="col-12">
      <formCaseSuccess />
    </div>
  </div>
</template>

<script>
import formCaseSuccess from 'src/components/admin/caseSuccess/components/add'
import headerCaseSuccess from 'src/components/admin/caseSuccess/components/header'

export default {
  // name: 'ComponentName',
  components: {
    formCaseSuccess,
    headerCaseSuccess
  },
  computed: {
    caseSuccess () {
      return this.$store.getters['caseSuccess/caseSuccess']
    },
    filter () {
      return this.$store.getters['caseSuccess/filterCaseSuccess']
    }
  },
  data () {
    return {}
  },
  methods: {
    getCases () {
      this.$store.dispatch('caseSuccess/getCases')
        .then((resp) => {
        })
        .catch((err) => {
          console.log(err)
        })
    }
  },
  beforeMount () {
    this.getCases()
  }
}
</script>
