<template>
  <div class="row">
    <div class="col-12">
      <headerCaseSuccess :title="'Casos de exito'" />
    </div>
    <div class="col-12">
      <listCaseSuccess :data="caseSuccess" />
    </div>
  </div>
</template>

<script>
import listCaseSuccess from 'src/components/admin/caseSuccess/components/list'
import headerCaseSuccess from 'src/components/admin/caseSuccess/components/header'

export default {
  // name: 'ComponentName',
  components: {
    listCaseSuccess,
    headerCaseSuccess
  },
  computed: {
    caseSuccess () {
      return this.$store.getters['caseSuccess/caseSuccess']
    }
  },
  data () {
    return {}
  },
  methods: {
    getCases () {
      this.$store.dispatch('caseSuccess/getCases')
        .then((resp) => {
        })
        .catch((err) => {
          console.log(err)
        })
    }
  },
  beforeMount () {
    this.getCases()
  }
}
</script>
