<template>
  <q-page padding>
    <addCasesReal />
  </q-page>
</template>

<script>
import addCasesReal from 'src/components/admin/caseReal/add'

export default {
  name: 'PageIndex',
  components: {
    addCasesReal
  }
}
</script>
